@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$color: #ecf0f1;

$height-icon: 50px;
$width-line: 100px;
$height-line: 8px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;