.header{
    background-image: linear-gradient(to bottom,#190688 0%, rgba(11, 12, 102, 0) 100%);
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-top: 10px;
    .header_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Playfair display;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        color: #FFFFFF;
        .logo_mahalla, .logo_xayriya{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 86px;
                height: 80px;
                margin-right: 20px;
            }
            .logo_mahalla_title{
                font-size: 30px;
            }
            .logo_xayriya_title{
                width: max-content;
                margin-right: 20px;
                font-size: 30px;
            }
        }
        .buttons_group_helping{
            .button_help1{ 
                border:1px solid #190688;
                border-radius: 30px;
                width: 90%;
                height: 35px;
                padding: 8px 0;
                margin-bottom: 15px;
                color: #190688;
                background-color: #FFFFFF;
                animation: pulse1 infinite ease;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                &:hover{
                    color: #FFFFFF !important;
                    background-color : #190688 !important;
                }
                @keyframes pulse1 {
                    0% {
                      -webkit-transform: scale(1.2);
                      -ms-transform: scale(1.2);
                      transform: scale(1.2);
                    }
                  
                    50% {
                      -webkit-transform: scale(1);
                      -ms-transform: scale(1);
                      transform: scale(1);
                    }
                  
                    100% {
                      -webkit-transform: scale(1.2);
                      -ms-transform: scale(1.2);
                      transform: scale(1.2);
                    }
                  }
            }
            .button_help2{ 
                border:2px solid #FFFFFF;
                border-radius: 30px;
                width: 90%;
                height: 35px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 15px;
                animation: pulse infinite ease;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                @keyframes pulse {
                    0% {
                      -webkit-transform: scale(1);
                      -ms-transform: scale(1);
                      transform: scale(1);
                    }
                  
                    50% {
                      -webkit-transform: scale(1.2);
                      -ms-transform: scale(1.2);
                      transform: scale(1.2);
                    }
                  
                    100% {
                      -webkit-transform: scale(1);
                      -ms-transform: scale(1);
                      transform: scale(1);
                    }
                  }
            }
        }
    }
    .header_bottom{
        display: flex;
        .navbarr{
            display: flex;
            margin-right: 20px;
            .navbar_list{
                display: flex;
                justify-content:space-between;
                .navbar_list_item{
                    .navbar_list_item_link{
                        font-family: Playfair Display;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 18px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #FFFFFF;
                        padding: 10px 10px 0; 
                    }
                    .dropdown_menu_list{
                        margin-top: 0px;
                        border-radius: 10px;
                        .dropdown-item{
                            color: #190688;
                            font-family: Playfair Display;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 18px;
                            text-transform: uppercase;
                            text-decoration: none;
                            margin-right: 10px;
                            opacity: 0.6;
                            &:hover{
                                width: 90%;
                                transition:all 0.3s ease;
                                transform: translateX(10px);
                                background-color: #FFFFFF;
                                opacity: 1;
                            }
                        }
                    }
                }
                .navbar_list_item:hover .dropdown-menu{
                    display: block;
                }
            }
        }
        .control_icons{
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            margin-top: -15px;
            .eye_icon_img_link{
                img{
                    width: 35px;
                    height: 35px;
                }
            }
             .voice_icon_img_link, .poisk_icon_img_link{
                display: inline;
                margin: 0 15px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .dropdown-toggle{
                padding: 7px;
                border-radius: 50%;
                border: #FFFFFF 1px solid;
                font-family: Playfair Display;
                font-style: normal;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                background-color: #190688 !important;
            }
        }
    }
}
