.section7{
    padding: 40px 0 100px;
    background-color: #F7FCFF;
    .mediateka{
            display: flex;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 60px;
            /* identical to box height */
            text-transform: capitalize;
            color: #190688;
            margin: 50px 0;
            .mediateka_i{
                display: block;
                width: 40%;
                height: 3px;
                background:#190688;
                border: 1px solid #190688;
                margin:30px 20px;
            }
    }
    .mediateka_left{
        padding: 0 5px;
        
        video{
            border-radius: 7px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
            height: auto;
            outline: none;
            box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
            &:hover{
                filter: brightness(1.2);
                transition: all .3s ease-in;
            }
        }
    }
    .mediateka_right{
        .mediateka_right_1,.mediateka_right_2{
            padding: 0 5px;
            img{
                height: 250px;
                border-radius: 7px;
                margin-bottom: 20px;
                box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
                &:hover{
                    filter: brightness(1.5);
                    transition: all .3s ease-in;
                }
            }
        }
        .mediateka_right_bottom_audio{
            padding: 0 5px;
            audio{
                width: 100%;
                outline: none;
                box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
                background-color: #F1F3F4;
            }
        }
        .button_batafsil_link{
            width: 145px;
            display: block;
            color: #190688;
            text-decoration: none;
            float: right;
            margin: 10px 15px;
            .button_batafsil{
                display: flex;
                padding:5px 8px;
                width: 145px;
                border-color:#190688;
                border:2px solid;
                border-radius: 20px;
                justify-content: space-around;
                &:hover{
                    transform: scale(1.07);
                    transition: all .3s ease-in-out;
                }  
            }
        }
    }
}