.section7{
    padding: 40px 0 100px;
    background-color: #F7FCFF;
    .mediateka{
            display: flex;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 60px;
            /* identical to box height */
            text-transform: capitalize;
            color: #190688;
            margin: 50px 0;
            .mediateka_i{
                display: block;
                width: 40%;
                height: 3px;
                background:#190688;
                border: 1px solid #190688;
                margin:30px 20px;
            }
    }
    .mediateka_left{
        padding: 0 5px;
        
        img{
            box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
            &:hover{
                filter: brightness(1.05);
                transition: all .3s ease-in;
            }
        };
          
          .video-play-button {
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            box-sizing: content-box;
            display: block;
            width: 28px;
            height: 36x;
            /* background: #fa183d; */
            border-radius: 50%;
            padding: 18px 20px 18px 28px;
          }
          
          .video-play-button:before {
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 80px;
            height: 80px;
            background: #190688;
            border-radius: 50%;
            animation: pulse-border 1500ms ease-out infinite;
          }
          
          .video-play-button:after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            display: block;
            width: 70px;
            height: 70px;
            background: #190688;
            border-radius: 50%;
            transition: all 200ms;
          }
          
          .video-play-button:hover:after {
            background-color: darken(#190688, 10%);
          }
          
          .video-play-button img {
            position: relative;
            z-index: 3;
            max-width: 100%;
            width: auto;
            height: auto;
          }
          
          .video-play-button span {
            display: block;
            position: relative;
            z-index: 3;
            width: 0;
            height: 0;
            border-left: 32px solid #fff;
              border-top: 22px solid transparent;
              border-bottom: 22px solid transparent;
          }
          
          @keyframes pulse-border {
            0% {
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              opacity: 1;
            }
            100% {
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              opacity: 0;
            }
          }
          
          
          
          .video-overlay {
            position: fixed;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.80);
            opacity: 0;
            transition: all ease 500ms;
          }
          
          .video-overlay.open {
            position: fixed;
            z-index: 1000;
            opacity: 1;
          }
          
          .video-overlay-close {
            position: absolute;
            z-index: 1000;
            top: 15px;
            right: 20px;
            font-size: 36px;
            line-height: 1;
            font-weight: 400;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            transition: all 200ms;
          }
          
          .video-overlay-close:hover {
            color: #190688;
          }
          
          .video-overlay iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            /* width: 90%; */
            /* height: auto; */
            box-shadow: 0 0 15px rgba(0,0,0,0.75);
          }
        video{
            border-radius: 7px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
            height: auto;
            outline: none;
        }
    }
    .mediateka_right{
        .mediateka_right_1,.mediateka_right_2{
            padding: 0 5px;
            img{
                height: 250px;
                border-radius: 7px;
                margin-bottom: 20px;
                box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
                &:hover{
                    filter: brightness(1.5);
                    transition: all .3s ease-in;
                }
            }
        }
        .mediateka_right_bottom_audio{
            padding: 0 5px;
            audio{
                width: 100%;
                outline: none;
                box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
                background-color: #F1F3F4;
            }
        }
        .button_batafsil_link{
            width: 145px;
            display: block;
            color: #190688;
            text-decoration: none;
            float: right;
            margin: 10px 15px;
            .button_batafsil{
                display: flex;
                padding:5px 8px;
                width: 145px;
                border-color:#190688;
                border:2px solid;
                border-radius: 20px;
                justify-content: space-around;
                &:hover{
                    transform: scale(1.07);
                    transition: all .3s ease-in-out;
                }  
            }
        }
    }
}