.section6{
    .section6_head{
        display: flex;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 1px;
        /* identical to box height */
        text-transform: capitalize;
        color: #190688;
        padding: 30px;
        i{
            display: block;
            width: 30%;
            height: 3px;
            background: #190688;
            margin-top: 35px;
            margin-right: 20px !important;
            border: 1px solid #190688;
        }
    }
    .section6_left, .section6_right{
        padding:0 10px;
        img{
            width: 100%;
            border-radius: 10px;
            position: relative;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
            &:hover{
                box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.15);
            }
        }
    }
    .section6_left{
        display: grid;
        .section6_left_1{
            padding: 0 10px;
            .section6_left_1_img{
                position: relative;
                &:hover{
                    filter: brightness(1.3);
                    transition: all 0.3s ease-in-out;
                }
            }
            .section6_left_1_p{
                position: absolute;
                font-family: Playfair display;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FFFFFF;
                bottom: 40px;
                left: 20px;
                p{  
                    margin: 0px 0 8px 0; 
                }
            }
        }
        .section6_left_2{
            padding: 0 10px;
            .section6_left_2_img{
                position: relative;
                &:hover{
                    filter: brightness(1.3);
                    transition: all 0.3s ease-in-out;
                }
            }
            .section6_left_2_p{
                position: absolute;
                font-family: Playfair display;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FFFFFF;
                bottom: 40px;
                left: 20px;
                p{
                    margin: 0 0 8px 0;
                }
            }
        }
        .section6_left_bottom{
            padding: 0 10px;
            .section6_bottom_img{
                position: relative;
                img{
                    height: 100%;
                }
                &:hover{
                    filter: brightness(1.5);
                    transition: all 0.3s ease-in-out;
                }
            }
            .section6_bottom_p{
                position: absolute;
                font-family: Playfair display;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FFFFFF;
                bottom: 40px;
                left: 20px;
                p{
                    margin: 0px 0 16px 0;
                }
            }
        }
    }
    .section6_right{
        .section6_right_img{
            position: relative;
            &:hover{
                filter: brightness(1.5);
                transition: all 0.3s ease-in-out;
            }
        }
        .section6_right_p{
            position: absolute;
            bottom: 40px;
            left: 20px;
            font-family: Playfair display ;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            text-transform: capitalize;
            color: #FFFFFF;
            margin: 0px 20px;
            p{
                margin: 10px 0;
            }
        }
    }
    .button_batafsil_link{
        margin: 20px 0;
        width: 150px;
        display: block;
        color: #190688;
        text-decoration: none;
        padding-bottom: 10px;
        padding-left: 0;
        .button_batafsil{
            display: flex;
            padding:5px 13px;
            width: 150px;
            border-color:#190688;
            border:2px solid;
            border-radius: 20px;
            filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.685));
            justify-content: space-around;
            margin-left: 0;
            &:hover{
                transform: scale(1.07);
                transition: all .3s ease-in-out;
            }  
        }
    }
}