.section6{
    .section6_head{
        display: flex;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 67px;
        /* identical to box height */
        text-transform: capitalize;
        color: #008EFF;
        padding: 30px 0;
        i{
            display: block;
            width: 30%;
            height: 3px;
            background: #008EFF;
            margin-top: 35px;
            border: 1px solid #008EFF;
        }
    }
    .section6_left, .section6_right{
        padding:0 10px;
        img{
            width: 100%;
            border-radius: 10px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            position: relative;
        }
    }
    .section6_left{
        display: grid;
        .section6_left_1{
            padding: 0 10px;
            .section6_left_1_img{
                position: absolute;
            }
            .section6_left_1_p{
                position: relative;
                font-family: Playfair display;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FFFFFF;
                top:120px;
                left: 10px;
                p{
                    margin-bottom: 8px;
                }
            }
        }
        .section6_left_2{
            padding: 0 10px;
            .section6_left_2_img{
                position: absolute;
            }
            .section6_left_2_p{
                position: relative;
                position: relative;
                font-family: Playfair display;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FFFFFF;
                top:120px;
                left: 10px;
                p{
                    margin-bottom: 8px;
                }
            }
        }
        .section6_left_bottom{
            padding: 0 10px;
            margin-bottom: 120px;
            .section6_bottom_img{
                position: absolute;
            }
            .section6_bottom_p{
                position: relative;
                position: relative;
                font-family: Playfair display;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 24px;
                text-transform: capitalize;
                color: #FFFFFF;
                top:140px;
                left: 10px;
                p{
                    margin-bottom: 8px;
                }
            }
        }
    }
}