.section4{
    height: auto;
    background-color: #F7FCFF;
    h1{
        display: flex;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        /* identical to box height */
        text-transform: capitalize;
        color: #190688;
        letter-spacing: 1px;
        padding: 30px 0;
        .section4_i{
            display: block;
            width: 40%;
            height: 3px;
            background: #190688;
            margin-top: 35px;
            border: 1px solid #190688;
            margin-left: 20px;
        }               
    }
            .section4_slider, .section4_slider2, .section4_slider1{
                width: 100%;
                height: 100%;
                .slick-track{
                    background-color: #F7FCFF;
                    height: 100%;
                }
                .section4_item{
                    padding: 10px;
                    margin: 10px;
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    background-color: #Ffffff;
                    margin-bottom:70px;
                    outline: 0;
                    .section4_item_title{
                        font-family:  Playfair Display;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 42px;
                        text-transform: capitalize;
                        color: #190688;
                    }
                    .section4_item_paragraph{
                        font-family: Playfair Display;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: capitalize;
                        color: #190688;
                    }
                    .costs{
                        font-family:  Playfair Display;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 25px;
                        line-height: 29px;
                        /* identical to box height */
                        text-transform: capitalize;
                        color: #190688;
                    }
                    .section4_img{
                        width: 100%;
                    }
                    .skill {
                        position: relative;
                        overflow-x:hidden;
                        border-radius: 7px;
                        bottom: 20px;     
                        width: 90%;
                        left: 15px;
                    }
                   
                    .skill:before{
                        width: 100%;
                        height: 30px;
                        content: "";
                        display: block;
                        position: absolute;
                        background: #C9C9C9;;
                        bottom: 0;
                    }
                    .skill-bar {
                        width: 100%;
                        height: 30px;
                        background:#190688;
                        display: block;
                        position: relative;
                        border-bottom-right-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                
                    /* SKILL 1 */
                    .skill1{
                        width: 95%;  
                    }
                    .skill-bar span{
                        position: absolute;
                        top: -30px;
                        padding: 30px 0 0 0 ;
                        font-family: Playfair Display;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 27px;
                        /* identical to box height */
                        text-transform: capitalize;
                        color: #FFFFFF;
                        right: 0;
                    }
                    .skill-bar {
                        position: relative;   
                    }
                    
                }
                .section4_item:hover{
                    transition: ease-in-out 0.4s all;
                    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .20);
                } 
            }  
}